# Object files
*.o
*.ho
*.ha
*.a
*.tar.gz

# gedit temporary files
*~

# os-161 temporary files
depend.mk
bin/cat/cat
bin/cp/cp
bin/false/false
bin/ln/ln
bin/ls/ls
bin/mkdir/mkdir
bin/mv/mv
bin/pwd/pwd
bin/rm/rm
bin/rmdir/rmdir
bin/sh/host-sh
bin/sh/sh
bin/sync/sync
bin/true/true
defs.mk
lib/libc/syscalls.S
sbin/dumpsfs/disk.c
sbin/dumpsfs/disk.h
sbin/dumpsfs/dumpsfs
sbin/dumpsfs/host-dumpsfs
sbin/dumpsfs/support.c
sbin/dumpsfs/support.h
sbin/halt/halt
sbin/mksfs/host-mksfs
sbin/mksfs/mksfs
sbin/poweroff/poweroff
sbin/reboot/reboot
testbin/add/add
testbin/addexec/addexec
testbin/argtest/argtest
testbin/badcall/badcall
testbin/bigprog/bigprog
testbin/btree/btree
testbin/console/console
testbin/crash/crash
testbin/ctest/ctest
testbin/draw/draw
testbin/factsum/factsum
testbin/farm/farm
testbin/faulter/faulter
testbin/fork/fork
testbin/forkbomb/forkbomb
testbin/forkexecbomb/forkexecbomb
testbin/forktest/forktest
testbin/hog/hog
testbin/huge/huge
testbin/malloctest/malloctest
testbin/matmult/matmult
testbin/matmult/say.h
testbin/multiply/multiply
testbin/palin/palin
testbin/parallelvm/parallelvm
testbin/printf/printf
testbin/randcall/calls.c
testbin/randcall/randcall
testbin/sort/sort
testbin/stacktest/stacktest
testbin/sty/sty
testbin/tictac/tictac
testbin/triplemat/triple.c
testbin/triplemat/triple.h
testbin/triplemat/triplemat
testbin/exittest/exittest
testbin/facts/facts
testbin/hasher/hasher
testbin/hasher/say.h
testbin/sbrk/sbrk
testbin/timeit/timeit
testbin/wait/wait
testbin/sleep/sleep
testbin/parallelvm/say.h
testbin/tripleprog/tripleprog

